*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#COCOCO;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #FFFF00;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input{
    grid-column: span 4;
    height: 58px;
    width: 275px;
    background-color: #F0B27A;
    border: none;
    border-radius: 10px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 52px;
    width: 52px;
    background-color: #daf7a6;
    border: 50;
    border-radius: 25%;
    margin: 8px;
    font-size: 16px;
}

.equal{
    width: 115px;
    border-radius: 22%;
}